@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

:root {
  --var-primary: #5e5ce6;
  --var-primary-hover: #4341cf;
  --var-global: #131313;
  --var-exclude: #ff7a55;
  --var-input: #1f2226;
  --var-input-border: #31353c;
  --var-input-hover: #232528;
  --var-input-focus: #2d3034;
  --var-input-focus-border: #434b55;
  --var-text: #fff;
  --var-bg-body: #1e2024;
}

* {
  margin: 0;
  color: var(--var-text);
  font-family: "Poppins", sans-serif;
}

ul,
h1,
h2,
h3,
header,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--var-bg-body);
}

#container {
  max-width: 1200px;
  margin: auto;
  background-color: var(--var-global);
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 32px;
  border-radius: 4px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* MENU LATERAL */
#menu__lateral {
  border-radius: 4px 4px 0 0;
}

#menu--section {
  display: flex;
  list-style: none;
}

#menu--section li {
  width: 100%;
  padding: 0;
}

#menu-1 {
  border-radius: 4px 0 0 0;
}

#menu-4 {
  border-radius: 0 4px 0 0;
}

#menu--section button {
  background-color: var(--var-global);
  border-style: none;
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  font-size: 1.2rem;
}

#menu--section button:hover {
  transition: 0.2s ease-in-out;
  background-color: var(--var-primary);
}

#menu--section .btn__ativo {
  background-color: var(--var-primary-hover);
  transform: translateY(-12px);
  border-radius: 4px;
}

/* MAIN - FORMULARIO */
h2 {
  font-weight: 700;
  text-transform: uppercase;
}

#formulario--container {
  border-top: 2px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

.formulario {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item__form {
  display: flex;
  flex-direction: column;
}

.radio {
  display: block;
}

.radio__options {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.radio__options input {
  margin-left: 12px;
  margin-top: 4px;
}

.item__form input,
.item__form select {
  background-color: transparent;
  border-style: none !important;
}

.item__form input:focus,
.item__form select:focus {
  outline: none;
}

.item__form,
.item__form input,
select {
  padding: 8px;
  margin-top: 8px;
  color: var(--var-text);
  background-color: var(--var-input);
  border: 1px solid var(--var-input-border);
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
}

.item__form:hover,
.item__form input:hover {
  background-color: var(--var-input-hover);
}

.item__form:focus,
.item__form input:focus {
  background-color: var(--var-input-focus);
}

.btn__form {
  margin-top: 8px;
  padding: 16px;
  cursor: pointer;
  background-color: var(--var-primary);
  border: 2px solid var(--var-global);
  border-radius: 4px;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.btn__form:hover {
  background-color: var(--var-primary-hover);
  transition: 0.2s ease-in-out;
}

section {
  display: none;
}

.section__ativo {
  display: block;
}

.item__vlan {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  align-items: baseline;
}

.item__vlan:not(:last-child) {
  margin-top: 12px;
}

.item__vlan h3 {
  color: #ccc;
}

#add__vlan,
.remove__vlan {
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 4px;
  max-height: fit-content;
}

#add__vlan {
  color: var(--var-global);
  background-color: var(--var-primary);
  padding: 2px 6px;
}

#add__vlan:hover {
  background-color: var(--var-primary-hover);
}

.remove__vlan {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--var-exclude);
}

.remove__vlan:hover {
  background-color: red;
}

option {
  color: #000;
  border-radius: 0;
}
